.login-rich-content {
    background-image: url("resources/main.jpg");
    background-position: left, top ;
    background-size: contain;
    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
}

.login-rich-content vaadin-vertical-layout {
    max-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px 50px;
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 8px 8px 0px;
}

.login-rich-content vaadin-form-layout {
    max-width: 400px;
    align-self: center;
}


.login-rich-content h3, h5 {
    /*color: floralwhite;*/
}

.login-rich-content vaadin-progress-bar {
    margin: 0px;
    position: absolute;
    top: 0px;
}
